# python
*.pyc

# environment
.envrc
.venv/
postgres-data/

# generated static
/static/

# testing
.coverage
htmlcov/

# uwsgi
uwsgi.ini
uwsgi-log.txt
mataroa.pid

# docker
docker-postgres-data/
docker-compose.override.yml
