[Unit]
Description=uWSGI instance to serve mataroa
Documentation=https://github.com/mataroa-blog/mataroa
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
ExecStart=/var/www/mataroa/.venv/bin/uwsgi --ini /var/www/mataroa/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/var/www/mataroa
Environment="PATH=/var/www/mataroa/.venv/bin"
ProtectSystem=full

[Install]
WantedBy=multi-user.target
