{% extends 'main/layout.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<main>
    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert">
                Your account doesn't have access to this page.
                To proceed please login with an account that has access.
            </p>
        {% endif %}
    {% endif %}

    <h1>Log in</h1>

    <form method="post">
        <p>
            <label for="id_username">Username</label>
            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            <span class="helptext">This is your blog subdomain.</span>
        </p>
        <p>
            <label for="id_password">Password</label>
            <input type="password" name="password" autocomplete="current-password" required id="id_password">
        </p>
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>

    <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </p>
</main>
{% endblock %}
