{% extends 'main/layout.html' %}

{% block title %}Log in{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert">
                Your account doesn't have access to this page.
                To proceed please login with an account that has access.
            </p>
        {% endif %}
    {% endif %}

    <h1>Log in</h1>

    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_username">{{ form.username.label }}</label>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.username }}
            <span class="helptext">This is your blog subdomain.</span>
        </p>

        <p>
            <label for="id_password">{{ form.password.label }}</label>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.password }}
            <span class="helptext">{{ form.password.help_text }}</span>
        </p>

        {% csrf_token %}

        <input type="submit" value="Login">
    </form>

    <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </p>
</main>
{% endblock %}
