{% extends 'main/layout.html' %}

{% block title %}Atua Posts{% endblock %}

{% block content %}
<main>
    <h1>Atua Posts</h1>

    <nav>
        Atua:
        <a href="{% url 'admin_users' %}">Users</a>
        | <a href="{% url 'admin_posts' %}">Posts</a>
        | <a href="{% url 'admin_pages' %}">Pages</a>
    </nav>

    <h2>New Posts ({{ new_posts|length }})</h2>
    <ul>
        {% for post in new_posts %}
        <li>
            {% include "partials/admin_post.html" with post=post %}
        </li>
        {% endfor %}
    </ul>

    <h2>Recently Edited Posts ({{ edited_posts|length }})</h2>
    <ul>
        {% for post in edited_posts %}
        <li>
            {% include "partials/admin_post.html" with post=post %}
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
