{% extends 'main/layout.html' %}

{% block title %}Adminextra Users{% endblock %}

{% block head_extra %}
<style>
button {
    background: white;
    border: 1px solid darkgrey;
    cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<main>
    <h1>Adminextra Users</h1>
</main>
<section class="adminextra-content">

    {% for user in user_list %}
    <div class="adminextra-content-row">
        <div class="adminextra-content-row-id">
            <a href="{% url 'admin:main_user_change' user.id %}" target="_blank" title="{{ user.date_joined }}">
                {{ user.id }}
            </a>
        </div>
        <div class="adminextra-content-row-id2" style="padding-top: 8px;">
            {{ user.stripe_customer_id|default:"" }}
        </div>
        <div class="adminextra-content-row-username">
            <span>{{ user.class_status }}</span>
            {% if user.is_approved %}
            <span title="approved">✅</span>
            {% endif %}
            <span>
                {{ user.username }}
            </span>

            {% if user.onboard_set.first is not None %}
            <div>
                <ul>
                    <li title="{{ user.onboard_set.first.problems }}">{{ user.onboard_set.first.problems }}</li>
                    <li title="{{ user.onboard_set.first.quality }}">{{ user.onboard_set.first.quality }}</li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="adminextra-content-row-actions" id="actions-{{ user.id }}">
            [
                {% if not user.is_approved %}
                <span onclick="approveUser('{{ user.id }}')" style="color: green; cursor: pointer;">approve</span>
                | <a style="color: red;" href="{% url 'admin:main_user_delete' user.id %}" target="_blank">delete</a>
                {% else %}
                <span onclick="unapproveUser('{{ user.id }}')" style="color: blue; cursor: pointer;">unapprove</span>
                {% endif %}
            ]
        </div>
        <div class="adminextra-content-row-url">
            <a href="{{ user.blog_url }}" target="_blank">
                {{ user.blog_url }}
            </a>
        </div>
        <div class="adminextra-content-row-email">
            {{ user.email }}
        </div>
        <div class="adminextra-content-row-posts">
            <ul>
                {% for post in user.post_set.all %}
                <li>
                    <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                        {{ post.title }}</a>
                    <small>
                        <button onclick="translatePost(event)">translate</button>
                    </small>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}

{% block scripts %}
<script>
    function approveUser(userID) {
        fetch(`/adminextra/users/${userID}/approve/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(() => {
                document.getElementById(`actions-${userID}`).innerHTML = 'approved';
            });
    }

    function unapproveUser(userID) {
        fetch(`/adminextra/users/${userID}/unapprove/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(() => {
                document.getElementById(`actions-${userID}`).innerHTML = 'unapproved';
            });
    }

    function translatePost(evt) {
        // prepare request options
        const isDebug = {{ DEBUG }};
        const text = evt.target.parentElement.parentElement.querySelector('a').text.trim();
        const encodedCredentials = btoa('admin' + ':' + '{{ TRANSLATE_API_TOKEN }}');
        const headers = new Headers({
            'Authorization': 'Basic ' + encodedCredentials,
        });
        const body = {
            'model': 'mistral',
            'prompt': `[INST] ${test} - Translate the above to English. Do not include translator's notes. Do not say any premable, just the translated text. Do not be verbose. [/INST]`,
            'stream': true,
            'raw': true,
        };

        // setup fetch
        const controller = new AbortController();
        const signal = controller.signal;
        const options = {
            method: 'POST',
            body: JSON.stringify(body),
            signal: controller.signal,
        };
        if (!isDebug) {
            options.headers = headers;
            options.credentials = 'include';
        }

        // indicate request is loading
        evt.target.textContent = '...';

        // make request
        fetch('{{ TRANSLATE_API_URL }}', options)
            .then(response => {

                // handle streaming request
                if (response.body.getReader) {
                    const reader = response.body.getReader();
                    const textDecoder = new TextDecoder();
                    evt.target.parentElement.parentElement.querySelector('a').text = '';
                    evt.target.parentElement.parentElement.querySelector('a').style.color = 'green';
                    function handleChunk(result) {
                        if (result.done) {
                            // stream done, cleanup
                            controller.abort();
                            return;
                        }

                        // get chunk, process it, then get next chunk
                        let chunk = textDecoder.decode(result.value);
                        const chunkContent = JSON.parse(chunk).response;
                        evt.target.parentElement.parentElement.querySelector('a').text += chunkContent;
                        return reader.read().then(handleChunk);
                    }

                    // start reading stream
                    return reader.read().then(handleChunk);
                } else {
                    // handle non-streaming request
                    if (!response.ok) {
                        throw new Error('translate request failed: ' + response.statusText);
                    }
                    const data = response.json();
                    evt.target.parentElement.parentElement.querySelector('a').text = data.response;
                    evt.target.parentElement.parentElement.querySelector('a').style.color = 'green';
                }
            })
            .then(data => {
                evt.target.remove();
            });
    }
</script>
{% endblock %}
