{% extends 'main/layout.html' %}

{% block title %}Adminextra Users{% endblock %}

{% block content %}
<main>
    <h1>Adminextra Users</h1>
</main>
<section class="adminextra-content">

    {% for user in user_list %}
    <div class="adminextra-content-row">
        <div class="adminextra-content-row-id">
            <a href="{% url 'admin:main_user_change' user.id %}">
                {{ user.id }}
            </a>
        </div>
        <div class="adminextra-content-row-username">
            {{ user.username }}
        </div>
        <div class="adminextra-content-row-url">
            <a href="{{ user.blog_url }}">
                {{ user.blog_url }}
            </a>
        </div>
        <div class="adminextra-content-row-email">
            {{ user.email }}
        </div>
        <div class="adminextra-content-row-posts">
            <ul>
                {% for post in user.post_set.all %}
                <li>
                    <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}
