{% extends 'main/layout.html' %}

{% block title %}Adminextra Cards{% endblock %}

{% block head_extra %}
<style>
button {
    background: white;
    border: 1px solid darkgrey;
    cursor: pointer;
}
img {
    width: 100%;
}
.button-approve { color: green; cursor: pointer; }
.button-approve:hover { text-decoration: underline; }
.button-delete { color: red; cursor: pointer; }
.button-delete:hover { text-decoration: underline; }
</style>
{% endblock %}

{% block content %}
<main>
    <h1>
        Adminextra Cards
        <small>({{ user_count }})</small>
    </h1>
</main>
<section class="adminextra-content">
    <div class="adminextra-content-cards">

        <div class="adminextra-content-cards-col1">
            <h2>Account</h2>

            <p>
                ID: <a href="{% url 'admin:main_user_change' user.id %}" target="_blank" title="{{ user.date_joined }}">
                    {{ user.id }}
                </a>
            </p>
            <p>
                {{ user.stripe_customer_id|default:"" }}
            </p>
            <p>
                <span>{{ user.class_status }}</span>
                {% if user.is_approved %}
                <span title="approved">✅</span>
                {% endif %}
                <span>
                    {{ user.username }}
                </span>

                {% if user.onboard_set.first is not None %}
                <div>
                    <ul>
                        <li title="{{ user.onboard_set.first.problems }}">{{ user.onboard_set.first.problems }}</li>
                        <li title="{{ user.onboard_set.first.quality }}">{{ user.onboard_set.first.quality }}</li>
                    </ul>
                </div>
                {% endif %}
            </p>
            <p>
                [
                    {% if not user.is_approved %}

                    <span onclick="approveUser('{{ user.id }}')" class="button-approve">approve</span>
                    | <span onclick="deleteUser('{{ user.id }}')" class="button-delete">delete</span>

                    {% else %}

                    <span onclick="unapproveUser('{{ user.id }}')" style="color: blue; cursor: pointer;">unapprove</span>

                    {% endif %}
                ]
            </p>
            <p>
                <a href="{{ user.blog_url }}" target="_blank">
                    {{ user.blog_url }}
                </a>
            </p>
            <p>
                <span style="font-family: monospace;">{{ user.email }}</span>
            </p>
        </div>

        <div class="adminextra-content-cards-col2">
            <div>
                <div>
                    <h2>Post Titles</h2>
                </div>

                <ul>
                    {% for post in user.post_set.all %}
                    <li>
                        <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                            {{ post.title }}</a>
                    </li>
                    {% empty %}
                    <li>
                        <em>(empty)</em>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="adminextra-content-cards-col3">
            <div>
                {% for post in post_list_a %}
                <h3>
                    # <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                        {{ post.title }}</a>
                </h3>
                <div>
                    {{ post.body_as_html|safe }}
                </div>
                <hr>
                {% empty %}
                <em>(empty)</em>
                {% endfor %}
            </div>
        </div>

        <div class="adminextra-content-cards-col4">
            <div>
                {% for post in post_list_b %}
                <h3>
                    # <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                        {{ post.title }}</a>
                </h3>
                <div>
                    {{ post.body_as_html|safe }}
                </div>
                <hr>
                {% empty %}
                <em>(empty)</em>
                {% endfor %}
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    function deleteUser(userID) {
        if (!confirm('DELETE for sure? There is no turning back.')) {
            return false;
        }

        fetch(`/adminextra/users/${userID}/delete/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(() => {
                document.location.reload();
            });
    }

    function approveUser(userID) {
        fetch(`/adminextra/users/${userID}/approve/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(() => {
                document.location.reload();
            });
    }

    function unapproveUser(userID) {
        fetch(`/adminextra/users/${userID}/unapprove/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
            .then(() => {
                document.getElementById(`actions-${userID}`).innerHTML = 'unapproved';
            });
    }
</script>
{% endblock %}
