{% extends 'main/layout.html' %}

{% block title %}Adminextra Users{% endblock %}

{% block content %}
<main>
    <h1>Adminextra Users</h1>
</main>
<section class="adminextra-table">
    <table>
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Blog URL</th>
            <th>Email</th>
            <th>Posts</th>
        </thead>

        <tbody>
            {% for user in user_list %}
            <tr>
                <td style="width: 1%; min-width: 50px;">{{ user.id }}</td>
                <td style="width: 7%; min-width: 150px;">{{ user.username }}</td>
                <td style="width: 15%; min-width: 350px;">
                    <a href="{{ user.blog_url }">
                        {{ user.blog_url }}
                    </a>
                </td>
                <td style="width: 7%; min-width: 250px;">{{ user.email }}</td>
                <td>
                    <ul>
                        {% for post in user.post_set.all %}
                        <li>
                            <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                                {{ post.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
