{% extends 'main/layout.html' %}

{% block title %}Atua Posts{% endblock %}

{% block content %}
<main>
    <h1>Atua Posts</h1>

    {% include "partials/atua_nav.html" %}

    <ul>
        <li><a href="#posts-new">New</a></li>
        <li><a href="#posts-edited">Recently Edited</a></li>
    </ul>

    <h2 id="posts-new">New Posts ({{ new_posts|length }})</h2>
    <ul>
        {% for post in new_posts %}
        <li>
            {% include "partials/atua_post.html" with post=post %}
        </li>
        {% endfor %}
    </ul>

    <h2 id="posts-edited">Recently Edited Posts ({{ edited_posts|length }})</h2>
    <ul>
        {% for post in edited_posts %}
        <li>
            {% include "partials/atua_post.html" with post=post %}
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
