{% extends 'main/layout.html' %}

{% block title %}Atua Users{% endblock %}

{% block content %}
<main>
    <h1>Atua Users</h1>

    <nav>
        Atua:
        <a href="{% url 'atua_users' %}">Users</a>
        | <a href="{% url 'atua_posts' %}">Posts</a>
        | <a href="{% url 'atua_pages' %}">Pages</a>
    </nav>

    <h2>Premium Users ({{ premium_users|length }})</h2>
    <ol reversed>
        {% for user in premium_users %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
            / <small>{{ user.monero_address|default:user.stripe_customer_id }}</small>
        </li>
        {% endfor %}
    </ol>

    <h2>New Users ({{ new_users|length }})</h2>
    <ul>
        {% for user in new_users %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
        </li>
        {% endfor %}
    </ul>

    <h2>Grandfather Users ({{ grandfather_users|length }})</h2>
    <ul>
        {% for user in grandfather_users %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
        </li>
        {% endfor %}
    </ul>

    <h2>Mataroa Users</h2>
    <ul>
        {% for user in users %}
        {% if 'mataroa.blog' in user.email %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <h2>Active Users ({{ active_users|length }})</h2>
    <ul>
        {% for user in active_users %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
        </li>
        {% endfor %}
    </ul>

    <h2>Active non-new Users ({{ active_nonnew_users|length }})</h2>
    <ul>
        {% for user in active_nonnew_users %}
        <li>
            {% include "partials/atua_user.html" with user=user %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
