{% extends 'main/layout.html' %}

{% block title %}Atua Pages{% endblock %}

{% block content %}
<main>
    <h1>Atua Pages</h1>

    <nav>
        Atua:
        <a href="{% url 'atua_users' %}">Users</a>
        | <a href="{% url 'atua_posts' %}">Posts</a>
        | <a href="{% url 'atua_pages' %}">Pages</a>
    </nav>

    <h2>New Pages ({{ new_pages|length }})</h2>
    <ul>
        {% for page in new_pages %}
        <li>
            {% include "partials/atua_page.html" with page=page %}
        </li>
        {% endfor %}
    </ul>

    <h2>Recently Edited Pages ({{ new_pages|length }})</h2>
    <ul>
        {% for page in new_pages %}
        <li>
            {% include "partials/atua_page.html" with page=page %}
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
