{% extends 'main/layout.html' %}

{% block title %}Deleting Comment {{ object.id }}{% endblock %}

{% block content %}
<main class="delete">
    <h1>Comment {{ object.id }}</h1>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, definitely delete this comment" class="type-danger">
    </form>

    <p>
        <a href="{% url 'admin:main_comment_change' comment.id %}">Edit</a>
    </p>

    <p>
        At: <a href="{{ comment.post.owner.blog_absolute_url }}">{{ comment.post.owner }}</a>
        <br>Published: {{ comment.created_at }}
        <br>On: <a href="{{ comment.post.get_absolute_url }}">{{ comment.post }}</a>
        <br>Name: {{ comment.name|default:"(no name)" }}
        <br>Email: {{ comment.email|default:"(no email)" }}
    </p>
    <p>
        {{ comment.body }}
    </p>

    <p>
        # {{ comment.post.title }}
    </p>
    <p>
        {{ comment.post.body }}
    </p>
</main>
{% endblock %}
