{% extends 'main/layout.html' %}

{% block title %}Atua Comments New{% endblock %}

{% block content %}
<main>
    <h1>Atua Comments New</h1>

    {% include "partials/atua_nav.html" %}

    <h2>New Comments ({{ new_comments|length }})</h2>
    <ul>
        {% for comment in new_comments %}
        <li>
            <a href="{% url 'admin:main_comment_change' comment.id %}">{{ comment.id }}</a>
            / <a href="{{ comment.post.owner.blog_absolute_url }}">{{ comment.post.owner }}</a>
            <br>Published: {{ comment.created_at }}
            <br>On: <a href="{{ comment.post.get_absolute_url }}">{{ comment.post }}</a>
            <br>Name: {{ comment.name|default:"(no name)" }}
            <br>Email: {{ comment.email|default:"(no email)" }}
            <br>Body: {{ comment.body }}
            <br><a href="{% url 'atua_comment_approve' comment.id %}" class="type-approve">Approve</a>
            / <a href="{% url 'atua_comment_delete' comment.id %}" class="type-delete">Delete</a>
            <br>&nbsp;
        </li>
        {% empty %}
        <li>(no comments)</li>
        {% endfor %}
    </ul>

</main>
{% endblock %}
