{% extends 'main/layout.html' %}

{% block title %}{% if request.user.is_premium %}Add card{% else %}Subscribe to Premium{% endif %} — Mataroa{% endblock %}

{% block head_extra %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<main>

    {% if request.user.is_premium %}
    <h1>Add card</h1>
    {% else %}
    <h1>Subscribe to Premium</h1>
    {% endif %}

    <form method="post" id="subscription-form">
        {{ form.non_field_errors }}

        <div id="card-element"></div>
        <div id="card-element-errors" role="alert"></div>

        {{ form.card_token }}

        {% csrf_token %}
        <input type="submit" value="Save">
    </form>

</main>
{% endblock %}

{% block scripts %}
<script>
    var stripe = Stripe("{{ stripe_public_key }}");
    var elements = stripe.elements();

    var card = elements.create('card');
    card.mount('#card-element');
    card.on('change', function (event) {
        var errorContainer = document.getElementById('card-element-errors');
        if (event.error) {
            errorContainer.textContent = event.error.message;
        } else {
            errorContainer.textContent = '';
        }
    });

    var form = document.getElementById('subscription-form');
    form.addEventListener('submit', function (ev) {
        ev.preventDefault();

        // disable submit button
        var submitButton = document.querySelector('input[type="submit"]');
        submitButton.disabled = true;

        // get stripe token
        stripe.createToken(card)
            .then(function (result) {

                if (result.error) {
                    var errorContainer = document.getElementById('card-element-errors');
                    errorContainer.textContent = result.error.message;
                } else {
                    document.getElementById('id_card_token').value = result.token.id;
                    form.submit();
                }

                // re-enable submit button
                submitButton.disabled = false;
            });
    });
</script>
{% endblock %}
