{% extends 'main/layout.html' %}

{% block title %}Billing — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Billing</h1>

    {# grandfather case #}
    {% if request.user.is_grandfathered %}
        Currently and forever on the
        <strong><a href="https://dictionary.cambridge.org/dictionary/english/grandfathered">Grandfather Plan</a></strong>.
        Rejoice eternally.
    {% endif %}

    {# monero case #}
    {% if not request.user.is_grandfathered and request.user.monero_address %}
    {% if request.user.is_premium %}
    <p>
        Currently on <strong>Premium Plan</strong>.
    </p>
    <p>
        Our Premium Plan costs 0.05 XMR per year and includes all features including
        the ability to set a custom domain.
    </p>
    <p>
        Your Monero address is:
    </p>
    <code style="word-wrap: break-word; background: #ffd9c3;">
        {{ request.user.monero_address }}
    </code>
    {% else %}
    <p>
        Currently on <strong>Free Plan</strong>.
    </p>
    <p>
        Our Premium Plan costs 0.05 XMR per year and includes all features including
        the ability to set a custom domain.
    </p>
    <p>
        Subscribe by sending 0.05 XMR to the Monero address below.
    </p>
    <code style="word-wrap: break-word; background: #ffd9c3;">
        {{ request.user.monero_address }}
    </code>
    <p>
        Please allow 48H for the transaction to be verified and mataroa to get up-to-date.
    </p>
    {% endif %}
    {% endif %}

    {# stripe case #}
    {% if not request.user.is_grandfathered and not request.user.monero_address %}

    {# stripe case - premium intro #}
    {% if request.user.is_premium %}
    <p>
        Currently on <strong>Premium Plan</strong>.
    </p>
    <ul>
        <li>Last payment of $9 was charged {{ current_period_start|date:"F j, Y" }}.</li>
        <li>Next payment will be at {{ current_period_end|date:"F j, Y" }}.</li>
        <li>$0.45 – 5% of your previous payment was used to <a href="https://climate.stripe.com/QPSBFx">fund CO₂ removal</a>.</li>
    </ul>
    {% endif %}

    {# stripe case - non-premium #}
    {% if not request.user.is_premium %}
    <p>
        Currently on <strong>Free Plan</strong>.
    </p>
    <p>
        Our Premium Plan costs $9 per year and includes all features including
        the ability to set a custom domain.
    </p>
    <p>
        mataroa.blog is also participating in
        <a href="https://climate.stripe.com/QPSBFx">Stripe Climate</a>
        and will contribute 5% of its subscription revenues to remove CO₂ from
        the atmosphere.
    </p>
    {% endif %}

    {# stripe case - payment cards #}
    {% if payment_methods %}
    <p>Cards:</p>
    <ul>
        <!-- this displays only the default card -->
        {% for pm in payment_methods %}
        {% if pm.is_default %}
        <li>
            {{ pm.brand|capfirst }} {{ pm.last4 }} (exp. {{ pm.exp_month }}/{{ pm.exp_year }}) — default

            <!-- if user not on premium then allow them to delete all cards -->
            {% if not request.user.is_premium %}
            | <a href="{% url 'billing_card_delete' pm.id %}">remove</a>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}

        <!-- this displays all non-default cards -->
        {% for pm in payment_methods %}
        {% if not pm.is_default %}
        <li>
            {{ pm.brand|capfirst }} {{ pm.last4 }} (exp. {{ pm.exp_month }}/{{ pm.exp_year }})
            — <form action="{% url 'billing_card_default' pm.id %}" method="post" class="form-inline">
                {% csrf_token %}
                <input type="submit" value="make default">
            </form>
            | <a href="{% url 'billing_card_delete' pm.id %}">remove</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {# stripe case - premium add card #}
    {% if request.user.is_premium %}
    <p>
        <a href="{% url 'billing_card' %}">Add new card »</a>
    </p>
    {% endif %}

    {# stripe case - invoices for premium #}
    {% if request.user.is_premium %}
    <p>
        Invoices:
    </p>
    <ul>
        {% for invoice in invoice_list %}
        <li>
            ({{ invoice.period_start|date:"Y-m-d" }} – {{ invoice.period_end|date:"Y-m-d" }})
            {{ invoice.created|date }}
            {{ invoice.created|time:"H:i:s" }}
            —
            <a href="{{ invoice.url }}">see invoice</a>
            |
            <a href="{{ invoice.pdf }}">download pdf</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {# stripe case - non-premium controls #}
    {% if not request.user.is_premium %}
    <p>
        {% if payment_methods %}
        <form action="{% url 'billing_subscription' %}" method="post" class="form-inline">
            {% csrf_token %}
            <input type="submit" value="Subscribe to Premium »">
        </form>
        {% else %}
        <a href="{% url 'billing_card' %}">Subscribe to Premium »</a>
        {% endif %}
    </p>
    {% endif %}

    {# stripe case - premium cancel #}
    {% if request.user.is_premium %}
    <p style="margin-top: 32px;">
        <a href="{% url 'billing_subscription_cancel' %}" class="type-delete">Cancel subscription</a>
    </p>
    {% endif %}

    {% endif %}

</main>
{% endblock %}
