{% extends 'main/layout.html' %}

{% block title %}{% if request.user.is_premium %}Add card{% else %}Subscribe to Premium{% endif %} — Mataroa{% endblock %}

{% block head_extra %}
<script src="https://js.stripe.com/v3/?advancedFraudSignals=false"></script>
{% endblock %}

{% block content %}
<main>

    {% if request.user.is_premium %}
    <h1>Add card</h1>
    {% else %}
    <h1>Subscribe to Premium</h1>
    {% endif %}

    <form method="post" id="subscription-form">
        {{ form.non_field_errors }}

        <div id="card-element"></div>
        <div id="card-element-errors" role="alert"></div>

        {{ form.card_token }}

        {% csrf_token %}
        <input type="submit" value="Save">
    </form>

    <p>
        <br>
        Once you click Save:
    </p>
    <ol>
        <li>
            Your card details will be sent to Stripe (payment processor).
        </li>
        <li>
            We will charge your card immediately, through Stripe.
        </li>
        <li>
            We will store your card within Stripe, so that we can charge you
            next year.
        </li>
        <li>
            You will be able to cancel your subscription immediately as well,
            should you want to. You can cancel your subscription at any point,
            24/7/365, from this billing dashboard with one click.
        </li>
        <li>
            You can also get a refund, no questions asked.
        </li>
        <li>
            All terms of service can be found in our
            <a href="{% url 'operandi' %}">Modus Operandi</a>
            page.
        </li>
    </ol>
</main>
{% endblock %}

{% block scripts %}
<script>
    var stripe = Stripe("{{ stripe_public_key }}");
    var elements = stripe.elements();

    var card = elements.create('card');
    card.mount('#card-element');
    card.on('change', function (event) {
        var errorContainer = document.getElementById('card-element-errors');
        if (event.error) {
            errorContainer.textContent = event.error.message;
        } else {
            errorContainer.textContent = '';
        }
    });

    var form = document.getElementById('subscription-form');
    form.addEventListener('submit', function (ev) {
        ev.preventDefault();

        // disable submit button
        var submitButton = document.querySelector('input[type="submit"]');
        submitButton.disabled = true;

        // get stripe token
        stripe.createToken(card)
            .then(function (result) {

                if (result.error) {
                    var errorContainer = document.getElementById('card-element-errors');
                    errorContainer.textContent = result.error.message;
                } else {
                    document.getElementById('id_card_token').value = result.token.id;
                    form.submit();
                }

                // re-enable submit button
                submitButton.disabled = false;
            });
    });
</script>
{% endblock %}
