{% extends 'main/layout.html' %}

{% block title %}{% if request.user.is_premium %}Add card{% else %}Subscribe to Premium{% endif %} — Mataroa{% endblock %}

{% block head_extra %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
<main>

    {% if request.user.is_premium %}
    <h1>Add card</h1>
    {% else %}
    <h1>Subscribe to Premium</h1>
    {% endif %}

    <form id="subscription-form">
        <div id="card-element"></div>
        <div id="card-element-errors" role="alert"></div>

        <input type="submit" value="Save">
    </form>

</main>
{% endblock %}

{% block scripts %}
<script>
    const PRICE_ID = "{{ stripe_price_id }}";
    const CUSTOMER_ID = "{{ stripe_customer_id }}";

    let stripe = Stripe("{{ stripe_public_key }}");
    let elements = stripe.elements();

    let card = elements.create('card');
    card.mount('#card-element');

    card.on('change', function (event) {
        displayError(event);
    });

    function displayError(event) {
        let errorContainer = document.getElementById('card-element-errors');
        if (event.error) {
            errorContainer.textContent = event.error.message;
        } else {
            errorContainer.textContent = '';
        }
    }

    let form = document.getElementById('subscription-form');
    let submitButton = document.querySelector('input[type="submit"]');

    form.addEventListener('submit', function (ev) {
        // prevent default form submission
        ev.preventDefault();

        // update button
        submitButton.value = "Please wait...";
        submitButton.classList.add('type-danger');
        submitButton.disabled = true;

        // send card to stripe to get token
        createPaymentMethod();
    });

    function createPaymentMethod() {
        stripe.createPaymentMethod({
                type: 'card',
                card: card,
            })
            .then((result) => {
                if (result.error) {
                    displayError(result);
                } else {
                    saveCard(result.paymentMethod.id);
                }
            });
    }

    function saveCard(paymentMethodId) {
        let formData = new FormData();
        formData.append('payment_method_id', paymentMethodId);

        return fetch('/billing/card/', {
            method: 'post',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: formData,
        })

        // If the card is declined, display an error to the user.
        .then((result) => {
            if (result.error) {
                // The card had an error when trying to attach it to a customer.
                throw result;
            }
            return result;
        })

        .then(() => document.location.assign('/billing/'))

        .catch((error) => {
            let errorContainer = document.getElementById('card-element-errors');
            errorContainer.textContent = error;
        });
    }

</script>
{% endblock %}
