{% extends 'main/layout.html' %}

{% block title %}{{ user.blog_title|default:request.subdomain }}{% endblock %}

{% block head_extra %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'rss_feed' %}">
{% endblock %}

{% block content %}
<main>
    {% if user.blog_title %}
    <h1>{{ user.blog_title }}</h1>
    {% endif %}

    {% if user.blog_byline %}
    <p class="byline">
        {{ user.blog_byline }}
    </p>
    {% endif %}

    <ul class="posts">
        {% for p in posts %}
        <li>
            <a href="{% url 'post_detail' p.slug %}">{{ p.title }}</a>
            <small>— <time datetime="{{ p.created_at|date:'F j, Y' }}" itemprop="datePublished">{{ p.created_at|date:'F j, Y' }}</time></small>
        </li>
        {% endfor %}
    </ul>
</main>
<footer>
    ---
    <br>
    <a href="{% url 'rss_feed' %}">RSS »</a>
</footer>
{% endblock %}
