{% extends 'main/layout.html' %}

{% block title %}{{ user.blog_title|default:subdomain }}{% endblock %}

{% block content %}
<main>
    <h1>{{ user.blog_title|default:subdomain }}</h1>
    <ul class="posts">
        {% for p in posts %}
        <li>
            <a href="{% url 'post_detail' p.id %}">{{ p.title }}</a>
            <small>— <time datetime="{{ p.created_at|date:'F j, Y' }}" itemprop="datePublished">{{ p.created_at|date:'F j, Y' }}</time></small>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
