{% extends 'main/layout.html' %}

{% block title %}Import posts — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Import posts</h1>
    <p>
        Mataroa allows you to import text/markdown files.
    </p>
    <ul>
        <li>You can choose multiple files at once.</li>
        <li>They will be uploaded as drafts (unpublished).</li>
    </ul>
    <form method="post" enctype="multipart/form-data">
        {{ form.non_field_errors }}
        <p>
            <input type="file" name="file" id="id_file" multiple required>
            {% if form.file.errors %}
                {% for error in form.file.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
        </p>
        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
</main>
{% endblock %}
