{% extends 'main/layout.html' %}

{% block title %}{{ blog_user.blog_title|default:blog_user.username }}{% endblock %}
{% block meta_description %}{{ blog_user.blog_byline|default:"" }}{% endblock %}

{% block head_extra %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'rss_feed' %}">
{% endblock %}

{% block content %}
<main class="blog">
    {% if blog_user.blog_title %}
    <h1>{{ blog_user.blog_title }}</h1>
    {% endif %}

    {% if blog_user.blog_byline %}
    <p class="byline">
        {{ blog_user.blog_byline }}
    </p>
    {% endif %}

    <ul class="posts">
        {% for p in posts %}
        <li>
            <a href="{% url 'post_detail' p.slug %}">{{ p.title }}</a>
            {% if p.published_at %}
            <small>
                —
                <time datetime="{{ p.published_at|date:'Y-m-d' }}" itemprop="datePublished">
                    {{ p.published_at|date:'F j, Y' }}
                </time>
                {% if not p.is_published %}
                — SCHEDULED
                {% endif %}
            </small>
            {% else %}
            <small>— DRAFT</small>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</main>

{% include 'partials/webring.html' %}

{% include 'partials/footer_blog.html' %}

{% endblock %}
