{% extends 'main/layout.html' %}

{% block title %}Dashboard — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Dashboard</h1>
    <p style="font-size: 16px;">
        <a href="{% url 'post_create' %}"><b>New post »</b></a>
    </p>
    <p class="dashboard-list">
        <a href="{% url 'image_list' %}">Images</a>
        <br><a href="{% url 'page_list' %}">Pages</a>
        <br><a href="{% url 'blog_import' %}">Import posts</a>
        <br><a href="{% url 'user_update' user.id %}">Blog settings</a>
        <br><a href="{% url 'blog_webring' %}">Webring</a>
        <br><a href="{% url 'password_change' %}">Change password</a>
        <br><a href="{% url 'blog_export' %}">Export blog</a>
        <br><a href="{% url 'logout' %}">Log out</a>
    </p>
    <p>
        <a href="{% url 'user_delete' user.id %}" class="type-delete">Delete account</a>
    </p>
    </ul>
</main>
{% endblock %}
