{% extends 'main/layout.html' %}

{% block title %}Dashboard — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Dashboard</h1>

    <ul>
        <li><a href="{% url 'user_update' user.id %}">Subdomain and email</a></li>
        <li><a href="{% url 'blog_export' %}">Export to Zola</a></li>
        <li><a href="{% url 'password_change' %}">Change password</a></li>
        <li><a href="{% url 'user_delete' user.id %}">Delete account</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>

</main>
{% endblock %}
