{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Pricing — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Pricing</h1>
    <p>
        In the interest of business transparency, in this page we explain the rationale
        for our pricing.
    </p>

    <div class="comparisons-matrix">
        <table>
            <thead>
                <tr style="text-align: left;">
                    <th></th>
                    <th scope="col">Apple Plan</th>
                    <th scope="col">Watermelon Plan</th>
                    <th scope="col">Kiwi Plan</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td scope="row">Price</td>
                    <td>$1 one-off</td>
                    <td>$19/year</td>
                    <td>$49/year</td>
                </tr>
                <tr>
                    <td scope="row">Core functionality</td>
                    <td>✓</td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td scope="row">Email subcribers</td>
                    <td>100</td>
                    <td>1,000</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td scope="row">Image hosting</td>
                    <td>100MB</td>
                    <td>250MB</td>
                    <td>1000MB</td>
                </tr>
                <tr>
                    <td scope="row">Custom domain</td>
                    <td></td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
                <tr>
                    <td scope="row">Auto-exports</td>
                    <td></td>
                    <td>✓</td>
                    <td>✓</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
