{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Comments Guide — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Comments Guide</h1>
    <p>
        Mataroa supports comments on a blog post level. Comments are optional
        and can be enabled blog-wide from the
        <a href="{% url 'user_update' %}">settings page</a>.
    </p>
    <ul>
        <li>Comments are optionally eponymous.</li>
        <li>
            There are no configuration options for comments other than enabling
            them.
        </li>
        <li>
            Comments by blog authors are in bold font to make it clear that
            they are from them.
        </li>
        <li>
            No visitor comments are published immediately. They are all held
            for moderation by the blog author.
        </li>
        <li>
            Blog authors receive an email notification when there is a new
            comment in any of their posts.
        </li>
        <li>
            Blog authors have to approve a comment if they want it to be
            public. By default, it remains hidden and not approved.
        </li>
        <li>
            Blog authors can approve a comment either from each blog post
            page or from the
            <a href="{% url 'comment_pending' %}">Comments pending</a>
            dashboard page.
        </li>
        <li>Commenters do not get any notification, in any case.</li>
    </ul>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
