{% extends 'main/layout.html' %}

{% block title %}Mataroa — Blogging platform for minimalists{% endblock %}

{% block content %}
<main>
    <h1>Mataroa blog</h1>
    <p>
        Naked blogging platform, for minimalists. <em>Just write.</em>
    </p>
    <ul class="lead">
        <li><b>Get your own simple blog in 1 minute</b> → <a href="{% url 'user_create' %}">Sign up</a></li>
        <ul>
            <li>Hosted in &lt;username&gt;.mataroa.blog or yourdomain.com</li>
            <li>Write your posts in markdown</li>
        </ul>
        <li>
            View <a href="https://nutcroft.mataroa.blog/blog/welcome-to-mataroa/">example post</a>
            / <a href="https://hey.mataroa.blog/">example blog</a>
        </li>
    </ul>

    <h2>Features</h2>
    <ul>
        <li>
            <a href="{% url 'methodology' %}">Never ads. Zero tracking</a>
        </li>
        <ul>
            <li>No cookies for analytics or tracking</li>
            <li>No email required for signup</li>
        </ul>
        <li>No platform lock-in</li>
        <ul>
            <li><a href="{% url 'export_index' %}">Export blog anytime</a></li>
            <li><a href="https://hey.mataroa.blog/blog/monthly-auto-exports-via-email/">Monthly auto-exports via email</a> (premium feature)</li>
            <li><a href="https://hey.mataroa.blog/blog/redirect-to-new-domain/">Redirect to new domain</a></li>
        </ul>
        <li>
            <a href="{% url 'guides_customdomain' %}">Custom domain</a> (premium feature)
        </li>

        <li>
            <a href="{% url 'guides_images' %}">Image hosting</a>
        </li>
        <li>Subscriptions</li>
        <ul>
            <li>via RSS</li>
            <li>via Email (newsletter)</li>
        </ul>
        <li>Also:</li>
        <ul>
            <li>Analytics (backend based)</li>
            <li><a href="{% url 'api_docs' %}">API</a></li>
            <li>Import text/markdown files</li>
            <li>Export as epub book format</li>
        </ul>
        <li>100% Affero GPL <a href="https://github.com/mataroa-blog">free software</a></li>
        <li><a href="{% url 'transparency' %}">Transparent</a> business sustainability</li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>Free — most features</li>
        <ul>
            <li>No custom domain</li>
            <li>No auto-exports via email</li>
        </ul>
        <li>Premium — all features</li>
        <ul>
            <li>$9/year</li>
            <li>5% of revenue funds <a href="https://climate.stripe.com/QPSBFx">CO₂ removal</a></li>
        </ul>
    </ul>

    <div class="cta">
        <a class="cta-link" href="{% url 'user_create' %}">Start your blog</a>
        — <a href="https://hey.mataroa.blog">view example blog</a>
    </div>

    <h2>Philosophy</h2>
    <p>
        I care about text. I like words, and their meaning, and arguments and stories, and things
        like typography, and fonts. I don't like visual congestion, or digital waste, or needless
        complexity.
    </p>
    <p>
        Blogging is beautiful. It's about sharing opinions on the web about anything, with one's
        own idea of aesthetics, however weird it is—or rather, <em>especially</em> because of how
        weird it is.
    </p>
    <p>
        But, lately, blogging is in a bad place. It's bedridden with trashy ads, and barbaric
        tracking, and ugly complexity.
    </p>
    <p>
        Mataroa is not like that. We built it to be about writing and writing only. We do one thing
        and that is text. Here, one will find no social networks or obtrusive subscribe-popups.
    </p>

    <p>
        Here, one will notice a focus on writing regardless of how much something will be read.
        Not being read can be demotivating, especially when one is starting to write. But it
        shouldn't be. We recommend that one does not look into analytics. It's mostly fuel for ego.
    </p>
    <blockquote>
        “What I’m really concerned about is reaching one person. And that person may be myself for
        all I know.”
        <br>— Jorge Luis Borges
    </blockquote>

    <p>
        When starting a blog, there is a dizzying amount of platforms to choose from. If you know
        what you want, go with that. <strong>But, if you're not exactly happy with the
        <a href="{% url 'comparisons' %}">well-established choices</a> and you want
        to try something new, try mataroa. We aim to be that breath of fresh air.</strong>
    </p>
    <p>
        Nota bene, though: we don't offer themes, or other bells and whistles. We just show
        text in a simple way. You pay us money ($9 per year), to keep doing that.
    </p>

    <p>
        What we respect the most is that these are your words. If you decide to take them and
        leave, we can help. Especially, if you decide to
        <a href="https://nutcroft.mataroa.blog/blog/the-ideal-blog-platform/">self-host your blog</a>.
        We provide tools, such as export to <a href="https://www.getzola.org/">Zola</a> or
        <a href="https://gohugo.io/">Hugo</a> source files, and we can also redirect to your
        new domain.
    </p>
    <p>
        That is all—we hope you enjoy using mataroa and find it useful for putting down your
        <a href="https://en.wikipedia.org/wiki/Dual_process_theory">System&nbsp;2</a> thoughts into
        words.
    </p>
    <p>
        — Theodore
    </p>

    <div class="cta">
        <a class="cta-link" href="{% url 'user_create' %}">Start your blog</a>
        — <a href="https://hey.mataroa.blog">view example blog</a>
    </div>

    <h2>FAQ</h2>

    <details>
        <summary>Do you support custom CSS?</summary>
        <div>
            <p>
                No. The philosophy of mataroa is to be as minimal as possible without enabling
                too many decisions about styling. Sorry! :)
            </p>
        </div>
    </details>

    <details>
        <summary>Can I self-host mataroa?</summary>
        <div>
            <p>
                Absolutely. The project is
                <a href="https://github.com/mataroablog/mataroa">open source</a>
                and you can find deployment documentation
                <a href="https://docs.mataroa.blog/deployment.html">in the docs</a>.
            </p>
        </div>
    </details>

    <details>
        <summary>Why should I use mataroa instead of Substack/WordPress/etc?</summary>
        <div>
            <p>
                Mataroa follows a minimalist philosophy. It's fast, simple, and prioritises the
                essence, the text content, over fancy features. The platform is based on a
                design philosophy of minimalism with strong data interoperability. You own your
                data and you can export it easily as well.
            </p>
        </div>
    </details>

    <details>
        <summary>Will you add themes?</summary>
        <div>
            <p>
                We are not interested in adding features that give more options to users. It's
                part of our philosophy to enable one to just write, without giving options for
                design, colours, or layouts. We understand that's not what everyone wants but we
                want to cater to people that either struggle with writing and don’t want too
                many distractions, or to people who want a minimal blog :)
            </p>
        </div>
    </details>

    <details>
        <summary>What about tags or categories?</summary>
        <div>
            <p>
                We think tags are too complicated of a feature for the simpleton mataroa wants to be.
            </p>
        </div>
    </details>

    <details>
        <summary>What about pagination?</summary>
        <div>
            <p>
                Pagination can be annoying as it breaks the browser search across all post titles.
                Additionally, because of how fast and simple mataroa is, speed is not an issue
                even with thousands of posts.
            </p>
        </div>
    </details>

    <details>
        <summary>Why doesn't strikethrough markdown notation work?</summary>
        <div>
            <p>
                The markdown library we use
                (<a href="https://github.com/Python-Markdown/markdown">Python-Markdown</a>)
                supports
                <a href="http://daringfireball.net/projects/markdown/syntax">
                    John Gruber’s markdown spec</a>,
                which does not define strikethrough text. We might migrate to another
                markdown library at some point in the future, though, this is not
                yet planned.
            </p>
        </div>
    </details>

    <details>
        <summary>Would you consider a rich editor option?</summary>
        <div>
            <p>
                We think a rich editor is too much for mataroa. For example, a rich editor
                implementation such as Trix, does looks pretty cool yet the complexity is
                too high with 200K of JavaScript code. Saving HTML in the database instead of
                simple text is also an annoyance.
            </p>
        </div>
    </details>

    <details>
        <summary>Would you add support for LaTeX-style math expressions?</summary>
        <div>
            <p>
                We have considered this feature. We don't want to add a JavaScript library to
                handle this on the frontend. However, we're open to creating this functionality in
                the future to work from the backend.
            </p>
        </div>
    </details>

    <details>
        <summary>What about supporting Mermaid flowcharts?</summary>
        <div>
            <p>
                We would not add
                <a href="https://github.com/mermaid-js/mermaid">mermaid-js</a>
                as it is
                <a href="https://github.com/mermaid-js/mermaid/blob/develop/dist/mermaid.min.js">
                    2.7MB minified
                </a>
                JavaScript which is extremely too much for mataroa. Yet, we would be interested
                in implementing something similar if it was rendered on the backend.
            </p>
        </div>
    </details>

    <details>
        <summary>Do you support ActivityPub Federation?</summary>
        <div>
            <p>
                We do not, however, we'd like to. This is unplanned work that might
                happen at some point in the future.
            </p>
        </div>
    </details>
</main>

{% include 'partials/footer.html' %}

{% endblock content %}
