{% extends 'main/layout.html' %}

{% block title %}Mataroa — Blogging platform for minimalists{% endblock %}

{% block content %}
<main>
    <h1>Mataroa blog</h1>
    <p>
        Naked blogging platform, for minimalists. <em>Just write.</em>
    </p>
    <ul class="lead">
        <li><b>Get your own simple blog in 1 minute</b> → <a href="{% url 'user_create' %}">Sign up</a></li>
        <ul>
            <li>Hosted in &lt;username&gt;.mataroa.blog or yourdomain.com</li>
            <li>Write your posts in markdown</li>
        </ul>
        <li>
            See <a href="//nutcroft.mataroa.blog/blog/welcome-to-mataroa/">example post</a>
            / <a href="//nutcroft.mataroa.blog/">example blog</a>
        </li>
    </ul>

    <h2>Features</h2>
    <ul>
        <li>
            <a href="{% url 'operandi' %}">No ads, zero tracking</a>
        </li>
        <ul>
            <li>Data centers in the EU, operated by a German company</li>
            <li>No cookies for analytics or tracking</li>
            <li>No email required for signup</li>
        </ul>
        <li>No platform lock-in</li>
        <ul>
            <li><a href="{% url 'export_index' %}">Export blog anytime</a></li>
            <li><a href="https://hey.mataroa.blog/blog/monthly-auto-exports-via-email/">Monthly auto-exports via email</a> (premium feature)</li>
            <li><a href="https://hey.mataroa.blog/blog/redirect-to-new-domain/">Redirect to new domain</a></li>
        </ul>
        <li>Custom domain (premium feature)</li>

        <li>
            <a href="{% url 'guides_images' %}">Image hosting</a>
        </li>
        <li>Subscriptions</li>
        <ul>
            <li>via RSS</li>
            <li>via Email (newsletter)</li>
        </ul>
        <li>Also:</li>
        <ul>
            <li>Analytics (backend based)</li>
            <li><a href="{% url 'guides_comments' %}">Comments</a></li>
            <li><a href="{% url 'api_docs' %}">API</a></li>
            <li><a href="{% url 'webring' %}">Webring integration</a></li>
            <li>Import text/markdown files</li>
            <li>Export as epub book format</li>
        </ul>
        <li>100% <a href="https://sr.ht/~sirodoht/mataroa/">open source</a></li>
        <li><a href="{% url 'transparency' %}">Transparent</a> business sustainability</li>
    </ul>

    <h2>Pricing</h2>
    <ul>
        <li>Free — most features</li>
        <ul>
            <li>No custom domain</li>
            <li>No auto-exports via email</li>
        </ul>
        <li>Premium — all features</li>
        <ul>
            <li>$9/year</li>
            <li>5% of revenue funds <a href="https://climate.stripe.com/QPSBFx">CO₂ removal</a></li>
        </ul>
    </ul>

    <div class="cta">
        <a class="cta-link" href="{% url 'user_create' %}">Start your blog</a>
        — <a href="//nutcroft.mataroa.blog">view example blog</a>
    </div>

    <h2>Philosophy</h2>
    <p>
        I care about text. I like words, and their meaning, and arguments and stories, and things
        like typography, and fonts. I don't like visual congestion, or digital waste, or needless
        complexity.
    </p>
    <p>
        Blogging is beautiful. It's about sharing opinions on the web about anything, with one's
        own idea of aesthetics, however weird it is—or rather, <em>especially</em> because of how
        weird it is.
    </p>
    <p>
        But, lately, blogging is in a bad place. It's bedridden with trashy ads, and barbaric
        tracking, and ugly complexity.
    </p>
    <p>
        Mataroa is not like that. We built it to be about writing and writing only. We do one thing
        and that is text. Here, one will find no social networks or obtrusive subscribe-popups.
    </p>

    <p>
        Here, one will notice a focus on writing regardless of how much something will be read.
        Not being read can be demotivating, especially when one is starting to write. But it
        shouldn't be. We recommend that one does not look into analytics. It's mostly fuel for ego.
    </p>
    <blockquote>
        “What I’m really concerned about is reaching one person. And that person may be myself for
        all I know.”
        <br>— Jorge Luis Borges
    </blockquote>

    <p>
        When starting a blog, there is a dizzying amount of platforms to choose from. If you know
        what you want, go with that. <strong>But, if you're not exactly happy with the
        <a href="{% url 'comparisons' %}">well-established choices</a> and you want
        to try something new, try mataroa. We aim to be that breath of fresh air.</strong>
    </p>
    <p>
        Nota bene, though: we don't offer themes, or other bells and whistles. We just show
        text in a simple way. You pay us money ($9 per year), to keep doing that.
    </p>

    <p>
        What we respect the most is that these are your words. If you decide to take them and
        leave, we can help. Especially, if you decide to
        <a href="https://nutcroft.com/blog/the-ideal-blog-platform/">self-host your blog</a>.
        We provide tools, such as export to <a href="https://www.getzola.org/">Zola</a> or
        <a href="https://gohugo.io/">Hugo</a> source files, and we can also redirect to your
        new domain.
    </p>
    <p>
        That is all—we hope you enjoy using mataroa and find it useful for putting down your
        <a href="https://en.wikipedia.org/wiki/Dual_process_theory">System&nbsp;2</a> thoughts into
        words.
    </p>
    <p>
        — Theodore
    </p>

    <div class="cta">
        <a class="cta-link" href="{% url 'user_create' %}">Start your blog</a>
        — <a href="//nutcroft.mataroa.blog">view example blog</a>
    </div>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
