{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {% if not request.subdomain %}
        <meta name="description" content="Blogging platform for minimalists.">
        <meta name="keywords" content="blog, blogging, platform, fast, simple, minimal">
        {% endif %}

        {% block head_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEwSURBVHgB7ZVBTsMwEEX/2GolQEjkBrkBPQI5ATlKd12SLrtr78EinACOkBuQG7QSEiClzuBpWYFUTxxY1W8ZfWe+7fEfIJFInDuEgbwtyjsQlUTm3q/Oj1+58b9qOueW2apuMQC1ge28vJlcmQcwzU8KmdfdR7/M1vUOf2XgUPzSPHv5DCq46d77QmPCQMFh5+riAs0mF7JGoQwJtosyn1j7igjYUXG9enw5pQmegDW2QizkypAkaMAYvkUkZPxLGWvAd/2Au/9FHhKomvA/0RhoEQtLQI00wOifEAvReANwtkYkEs0hTdCAvGMGNhgI99ho5oKqCfdTVx0Hjrp8s/+UNWFUBrKq3nXTvtCchOxcOweEweNYolnS0ZAE1HdGMFpm36xs61D0JhKJxE++AMI7Z3YRUW4wAAAAAElFTkSuQmCC">

        {% block head_extra %}
        {% endblock %}

        <style>
            {% include 'assets/style.css' %}
        </style>
    </head>

    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% if request.user.is_authenticated %}

        {% if not request.subdomain or request.subdomain == request.user.username %}
        <nav>
            {% if request.subdomain %}
            <a href="{% url 'index' %}">View blog</a>
            {% else %}
            <a href="//{{ request.user.username }}.{{ request.get_host }}">View blog</a>
            {% endif %}
            | <a href="{% url 'dashboard' %}">Dashboard</a>
            | <a href="{% url 'post_create' %}">New post</a>
            {% if blog_user.custom_domain %}
            | <a href="//{{ blog_user.custom_domain }}{{ request.path }}">See in {{ blog_user.custom_domain }}</a>
            {% endif %}
            {% if request.user.is_superuser %}
            | <a href="{% url 'admin:index' %}">DjA</a>
            | <a href="{% url 'mod_users_premium' %}">Mod</a>
            {% endif %}
        </nav>
        {% endif %}

        {% if request.user.redirect_domain %}
        <aside class="type-delete">
            <div>
                Your mataroa blog (<code>{{ request.user.username }}.mataroa.blog</code>) is
                currently retired and inaccessible. All traffic is redirected to
                <code>{{ request.user.redirect_domain }}</code> as per your
                <a href="{% url 'user_update' %}">settings</a>.
            </div>
        </aside>
        {% endif %}

        {% else %}
        {% if not request.subdomain %}
        <nav>
            <a href="{{ request.host }}{% url 'index' %}">Home</a>
            | <a href="{{ request.host }}{% url 'user_create' %}">Sign up</a>
            | <a href="{{ request.host }}{% url 'login' %}">Log in</a>
        </nav>
        {% endif %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
