{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Blogging unplatform. Get your blog in 1 min.">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% if request.user.is_authenticated %}
        <nav>
            {% if request.subdomain %}
            <a href="{% url 'index' %}">Blog</a>
            | <a href="{% url 'dashboard' %}">Dashboard</a>
            | <a href="{% url 'post_create' %}">New post</a>
            {% else %}
            <a href="//{{ request.user.username }}.{{ request.get_host }}">Blog</a>
            | <a href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
        </nav>
        {% else %}
        {% if not request.subdomain %}
        <nav>
            <a href="{{ request.host }}{% url 'index' %}">Home</a>
            | <a href="{{ request.host }}{% url 'user_create' %}">Sign up</a>
            | <a href="{{ request.host }}{% url 'login' %}">Log in</a>
        </nav>
        {% endif %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
