{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Clean blogging unplatform with export as first-class. Get your blog in 1 min.">
        <meta name="keywords" content="blogs, platform, fast">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        {% if messages %}
        <aside>
            {% for message in messages %}
            <div {% if message.tags %}class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
            {% endfor %}
        </aside>
        {% endif %}

        {% if request.user.is_authenticated %}
        <nav>
            {% if request.subdomain %}
            <a href="{% url 'index' %}" class="type-stable">Blog</a>
            {% else %}
            <a href="//{{ request.user.username }}.{{ request.get_host }}" class="type-stable">Blog</a>
            {% endif %}
            | <a href="{% url 'dashboard' %}" class="type-stable">Dashboard</a>
            | <a href="{% url 'post_create' %}" class="type-stable">New post</a>
        </nav>
        {% else %}
        {% if not request.subdomain %}
        <nav>
            <a href="{{ request.host }}{% url 'index' %}" class="type-stable">Home</a>
            | <a href="{{ request.host }}{% url 'user_create' %}" class="type-stable">Sign up</a>
            | <a href="{{ request.host }}{% url 'login' %}" class="type-stable">Log in</a>
        </nav>
        {% endif %}
        {% endif %}

        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
