{% extends 'main/layout.html' %}

{% block title %}Mod {{ user_type }} Users{% endblock %}

{% block content %}
<main>
    <h1>Mod {{ user_type }} Users ({{ user_list|length }})</h1>

    {% include "partials/mod_nav.html" %}

    <ol reversed>
        {% for user in user_list %}
        <li>
            {% include "partials/mod_user.html" with user=user %}
        </li>
        {% if with_posts %}
        <ul>
            {% for post in user.post_set.all|slice:":10" %}
            <li>
                <a href="{{ post.get_absolute_url }}" target="_blank" rel="noopener">
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </ol>

</main>
{% endblock %}
