{% extends 'main/layout.html' %}

{% block title %}Mod Comments{% endblock %}

{% block content %}
<main>
    <h1>Mod Comments ({{ comment_list|length }})</h1>

    {% include "partials/mod_nav.html" %}

    <ol reversed>
        {% for comment in comment_list %}
        <li>
            <a href="{% url 'admin:main_comment_change' comment.id %}">{{ comment.id }}</a>
            / <a href="{{ comment.post.owner.blog_absolute_url }}">{{ comment.post.owner }}</a>
            <br>Published: {{ comment.created_at }}
            <br>On: <a href="{{ comment.post.get_absolute_url }}">{{ comment.post }}</a>
            <br>Name: {{ comment.name|default:"(no name)" }}
            <br>Email: {{ comment.email|default:"(no email)" }}
            <br>Body: {{ comment.body }}
        </li>
        {% empty %}
        <li>(no comments)</li>
        {% endfor %}
    </ol>

</main>
{% endblock %}
