{% extends 'main/layout.html' %}

{% block title %}Modus operandi — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Modus operandi</h1>
    <p>
        Details on the what and how of our mode of operation.
    </p>

    <h2>Ethics</h2>
    <p>We are committed to:</p>
    <ul>
        <li>No tracking of user or visitor behaviour.</li>
        <li>Never sell any user or visitor data.</li>
        <li>No ads — ever.</li>
    </ul>

    <h2>Code of content publication</h2>
    <p>
        Content in mataroa blogs is unfiltered and unmonitored. Users are free to publish
        any combination of words and pixels. However, content of animosity or
        disparagement of an individual or a group on account of a group characteristic
        such as race, colour, national origin, sex, disability, religion, or sexual
        orientation will be taken down immediately.
    </p>
    <p>
        If you notice something along those lines in a mataroa blog please let us know
        at <a href="mailto:admin@mataroa.blog">admin@mataroa.blog</a>.
    </p>

    <h2 id="data-privacy">Data privacy</h2>
    <ul>
        <li>
            Mataroa does not require any personal details in order to be fully
            functional (email is optional).
        </li>
        <li>
            We do not use any third-party data processors or sub-processors except for
            our two cloud hosting providers (see:
            <a href="#technical">Technical details</a>).
        </li>
        <li>
            We support and require encryption in transit via the TLS protocol
            (versions 1.2 and 1.3).
        </li>
        <li>We do not implement data encryption at rest.</li>
        <li>
            All rights under
            <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:02016R0679-20160504&from=EN">GDPR</a>
            are exercisable:
            <ul>
                <li>via the site</li>
                <li>by emailing <a href="mailto:admin@mataroa.blog">admin@mataroa.blog</a></li>
            </ul>
        </li>
    </ul>

    <h2>Cookies</h2>
    <p>
        We do not use any cookies for analytics, advertising, preferences, or for any third-party
        service.
    </p>
    <p>
        We do use two cookies, one for account authentication (keeping you logged in)
        and another for security (to prevent
        <a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a>).
    </p>

    <h2>Liability</h2>
    <p>
        You expressly understand and agree that the operators of this website shall not
        be liable, in law or in equity, to you or to any third party for any direct,
        indirect, incidental, lost profits, special, consequential, punitive or
        exemplary damages.
    </p>

    <h2 id="technical">Technical details</h2>
    <ul>
        <li>Main server located in Helsinki by Hetzner Online GmbH.</li>
        <li>Daily database backups in AWS Ireland.</li>
        <li>Backup retention of 45 days.</li>
        <li>User passwords are stored SHA256-hashed using PBKDF2.</li>
        <li>
            Developed publicly on <a href="https://sr.ht/~sirodoht/mataroa/">sr.ht</a>
            and <a href="https://github.com/sirodoht/mataroa">GitHub</a>.
        </li>
    </ul>

    <h2>System Uptime</h2>
    <ul>
        <li>We aim for zero downtime, yet we make no promises.</li>
        <li>
            We keep a record of outages at
            <a href="https://status.mataroa.blog/">status.mataroa.blog</a>.
        </li>
    </ul>

    <h2>Acknowledgements</h2>
    <p>
        Mataroa was inspired by <a href="https://bearblog.dev/">Bear Blog</a>,
        another minimal blogging platform.
    </p>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
