{% extends 'main/layout.html' %}

{% block title %}Modus operandi — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Modus operandi</h1>
    <p>
        Details on the what and how of our mode of operation.
    </p>

    <h2>Ethics</h2>
    <p>We are committed to:</p>
    <ul>
        <li>No tracking of user or visitor behaviour.</li>
        <li>Never sell any user or visitor data.</li>
        <li>No ads — ever.</li>
    </ul>

    <h2>Data privacy</h2>
    <ul>
        <li>
            Mataroa does not require any personal details in order to be fully
            functional (email is optional).
        </li>
        <li>
            We support and require encryption in transit via the TLS protocol
            (versions 1.2 and 1.3).
        </li>
        <li>We do not implement data encryption at rest.</li>
        <li>
            All rights under
            <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:02016R0679-20160504&from=EN">GDPR</a>
            are exercisable
            <ul>
                <li>via the site</li>
                <li>by emailing <a href="mailto:admin@mataroa.blog">admin@mataroa.blog</a></li>
            </ul>
        </li>
    </ul>

    <h2>Technical</h2>
    <ul>
        <li>Hosted in Helsinki by Hetzner Online GmbH.</li>
        <li>Daily database backups in AWS Ireland.</li>
        <li>User passwords are stored SHA256-hashed using PBKDF2.</li>
        <li>
            Developed publicly on <a href="https://sr.ht/~sirodoht/mataroa/">sr.ht</a>
            and <a href="https://github.com/sirodoht/mataroa">GitHub</a>.
        </li>
    </ul>
</main>

{% include 'partials/footer.html' %}

{% endblock %}
