{% extends 'main/layout.html' %}

{% block title %}Subscribers — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Subscribers</h1>
    <p>
        These emails will receive a notification on new post publications.
    </p>
    <ul>
        {% for n in notification_list %}
        <li>
            {{ n.email }}
        </li>
        {% empty %}
        <li><i>No subscribers</i></li>
        {% endfor %}
    </ul>
    {% if notification_list %}
    <p>
        To delete a subscriber, one can use the
        <a href="{% url 'notification_unsubscribe' %}">unsubscribe form</a>.
    </p>
    {% endif %}
</main>
{% endblock %}
