{% extends 'main/layout.html' %}

{% block title %}Unsubscribing from the email newsletter — {{ blog_user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    {% if blog_user.blog_title %}
    <a href="{% url 'index' %}" class="pages-item-brand">{{ blog_user.blog_title }}</a>
    {% endif %}

    {% if unsubscribed %}
    <h1>Unsubscribed success</h1>
    <p>
        <b>{{ email }}</b> was successfully deleted and will stop receiving emails.
    </p>
    <p>
        To re-subscribe go <a href="{% url 'notification_subscribe' %}">here</a>.
    </p>
    {% else %}
    <h1>Not subscribed</h1>
    <p>
        <a href="{% url 'notification_subscribe' %}">Subscribe</a>
        to start receiving email notifications.
    </p>
    {% endif %}
</main>
{% endblock %}
