{% extends 'main/layout.html' %}

{% block title %}Unsubscribe from the email newsletter — {{ blog_user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    {% if blog_user.blog_title %}
    <a href="{% url 'index' %}" class="pages-item-brand">{{ blog_user.blog_title }}</a>
    {% endif %}

    <h1>Unsubscribe from the email newsletter</h1>

    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Unsubscribe">
    </form>

    <br>
    <p>
        Or to start receiving the email newsletter,
        <a href="{% url 'notification_subscribe' %}">subscribe</a>.
    </p>
</main>
{% endblock %}
