{% extends 'main/layout.html' %}

{% block title %}Newsletter — {{ request.user.username }} at Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Newsletter</h1>

    <p>
        <strong>Who:</strong>
        For the current list of registered emails, see
        <a href="{% url 'notification_list' %}">Subscribers</a>.
    </p>
    <p>
        <strong>When:</strong>
        Every day at 10:00 UTC all posts published the day before are emailed to
        subscribers.
    </p>
    <p>
        <strong>What:</strong>
        Newsletter emails are delivered in raw plain text (markdown source) as seen in
        the editor. Images are included as links only.
    </p>

    <p>
        <strong>Past newsletters:</strong>
    </p>
    <ul>
        {% regroup notificationrecord_list_sent by post as post_list %}
        {% for post, notificationrecord_list in post_list %}
        <li>
            <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>

            sent at
            <time datetime="{{ notificationrecord_list.0.sent_at|date:'Y-m-d' }}">
                {{ notificationrecord_list.0.sent_at|date:'Y-m-d' }}
            </time>
            to these {{ notificationrecord_list|length }} subscribers:

            {% for nr in notificationrecord_list %}
            <br>{{ nr.notification.email }}
            {% endfor %}
        </li>
        {% empty %}
        <li><i>No records</i></li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}
