{% extends 'main/layout.html' %}

{% block title %}
    {% if form.initial %}Editing {{ form.title.value }}{% else %}Create a new page{% endif %}
{% endblock %}

{% block content %}
<main>
    <h1>
        {% if form.initial %}
        Editing page
        {% else %}
        Create a new page
        {% endif %}
    </h1>
    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_title">Title</label>
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="text" name="title" id="id_title" maxlength="300" required value="{{ form.title.value|default_if_none:'' }}">
        </p>

        <p>
            <label for="id_slug">Slug</label>
            {% if form.slug.errors %}
                {% for error in form.slug.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="text" name="slug" id="id_slug" maxlength="300" required value="{{ form.slug.value|default_if_none:'' }}">
            <span class="helptext">{{ form.slug.help_text }}</span>
        </p>

        <p>
            <label for="id_is_hidden" style="display: inline-block; margin-top: 0;">Hidden?</label>
            <input type="checkbox" name="is_hidden" id="id_is_hidden" {% if form.is_hidden.value %}checked{% endif %}>
            <br><span class="helptext">{{ form.is_hidden.help_text }}</span>
        </p>

        <p>
            <label for="id_body">Content (<a href="{% url 'guides_markdown' %}">supports markdown</a>) <span id="js-status"></span></label>
            {% if form.body.errors %}
                {% for error in form.body.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <textarea name="body" id="id_body" cols="60" rows="20" style="min-height: 200px; height: calc(100vh - 450px);">{{ form.body.value|default_if_none:'' }}</textarea>
            <span class="helptext" id="js-show" style="display: none;">Attach images by dragging & dropping.</span>
        </p>

        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
    // when page loads, focus on title
    document.querySelector('input[name="title"]').focus();

    {% include "assets/drag-and-drop-upload.js" %}
</script>
{% endblock %}
