{% extends 'main/layout.html' %}

{% block title %}{{ post.title}} — {{ blog_title }}{% endblock %}

{% block content %}
<main>
    {% if blog_title %}
    <a href="{% url 'index' %}" class="brand">{{ blog_title }}</a>
    {% endif %}

    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="main-title" itemprop="name headline">
            {{ post.title }}
        </h1>

        <div class="byline">
            Published on <time datetime="{{ post.created_at|date:'F j, Y' }}" itemprop="datePublished">{{ post.created_at|date:'F j, Y' }}</time>
            {% if request.user.is_authenticated and subdomain == request.user.username %}
            | <a href="{% url 'post_update' post.id %}">Edit post</a>
            | <a href="{% url 'post_delete' post.id %}">Del</a>
            {% endif %}
        </div>

        <div class="main-body" itemprop="articleBody">
            {{ post.as_markdown|safe }}
        </div>
    </article>

    <br>
    <a href="{% url 'index' %}">← archive</a>
</main>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener('keypress', function (evt) {
        if (evt.key === 'u') {
            let url = '/';
            document.location.assign(url);
        }
    });
</script>
{% endblock %}
