{% extends 'main/layout.html' %}

{% block title %}
    {% if form.initial %}Editing {{ form.title.value }}{% else %}Create a new post{% endif %}
{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>
        {% if form.initial %}
        Editing post
        {% else %}
        Create a new post
        {% endif %}
    </h1>
    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_title">Title</label>
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="text" name="title" id="id_title" maxlength="300" required autofocus value="{{ form.title.value|default_if_none:'' }}">
        </p>

        {% if form.initial %}
        <p>
            <label for="id_slug">
                Slug / permalink (think about
                <a href="https://en.wikipedia.org/wiki/Link_rot">broken links</a>
                before changing that)
            </label>
            {% if form.slug.errors %}
                {% for error in form.slug.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="text" name="slug" id="id_slug" maxlength="300" required value="{{ form.slug.value|default_if_none:'' }}">
        </p>
        {% endif %}

        <p>
            <label for="id_published_at">
                Publication date (format e.g. 2006-01-30)
                <span id="set-today"></span>
                <span id="set-empty"></span>
            </label>
            {% if form.published_at.errors %}
                {% for error in form.published_at.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <input type="text" name="published_at" value="{{ form.published_at.value|date:'Y-m-d' }}" id="id_published_at">
            <span class="helptext">{{ form.published_at.help_text }}</span>
        </p>

        <p>
            <label for="id_body">Content (<a href="{% url 'guides_markdown' %}">supports markdown</a>) <span id="js-status"></span></label>
            {% if form.body.errors %}
                {% for error in form.body.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            <textarea name="body" id="id_body" cols="60" rows="20" style="min-height: 200px; height: calc(100vh - 450px);">{{ form.body.value|default_if_none:'' }}</textarea>
            <span class="helptext" id="js-show" style="display: none;">Attach images by dragging & dropping.</span>
        </p>

        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
    {% include "assets/drag-and-drop-upload.js" %}
    {% include "assets/make-draft-button.js" %}

    {% if request.user.post_backups_on %}
    {% include "assets/save-snapshot.js" %}
    {% endif %}
</script>
{% endblock %}
