{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Modus Transparency — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Modus Transparency</h1>

    <section class="pages-generic-grid">
        <article>
            <strong>Total users</strong>
            <div>{{ users }}</div>
        </article>
        <article>
            <strong>Total premium users</strong>
            <div>{{ premium_users }}</div>
        </article>
        <article>
            <strong>Monthly revenue</strong>
            <div>${{ monthly_revenue|floatformat:2 }}</div>
        </article>

        <article>
            <strong>Total posts</strong>
            <div>{{ posts }}</div>
        </article>
        <article>
            <strong>Total published posts</strong>
            <div>{{ published_posts }}</div>
        </article>
        <article>
            <strong>Total pages</strong>
            <div>{{ pages }}</div>
        </article>

        <article style="grid-column: 1/3;">
            <strong>Number of users who have edited at least one post in the last month</strong>
            <div>{{ active_users }}</div>
        </article>
    </section>

    <hr>

    <section>
        <strong>Service Maintainance Costs</strong>
        <ul>
            <li>Server €2.99/mo</li>
            <li>DNS €0.50/mo</li>
            <li>Domain name ~€2.00/mo</li>
            <li>Programmer €0.00/mo</li>
            <li>Total €5.49/mo</li>
        </ul>
        <strong>Financial Position</strong>
        <ul>
            <li>Total service upkeep cost €{{ monthly_costs }}/mo ≈ ${{ monthly_costs_usd }}/mo</li>
            <li>Total revenue ${{ monthly_revenue|floatformat:2 }}/mo</li>
            <li>Revenue used to fund CO<sub>2</sub> removal ${{ revenue_co2|floatformat:2 }}/mo</li>
            <li>Break even diff ${{ break_even_diff|floatformat:2 }}/mo</li>
            <li>Additional subscriptions needed to break even: {{ break_even_subscriptions }}</li>
        </ul>
    </section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
