{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Modus Transparency — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Modus Transparency</h1>

    <div>
        <svg version="1.1" viewBox="0 0 500 112" xmlns="http://www.w3.org/2000/svg">
            {% for day, analytic in new_users_per_day.items %}
            <rect
                x="{{ analytic.x_offset }}"
                y="{{ analytic.negative_count_percent }}"
                width="18"
                height="{{ analytic.count_percent }}"
                class="analytics-chart-bar"
                >
                <title>{{ analytic.count }} new users signed up during {{ day|date:'F j, Y' }}</title>
            </rect>

            <text
                x="{{ analytic.x_offset|add:'9' }}"
                y="108"
                text-anchor="middle"
                dominant-baseline="middle"
                class="analytics-chart-text"
                >
                {{ analytic.count }}
            </text>
            {% endfor %}
        </svg>
    </div>

    <section class="pages-generic-grid">
        <article>
            <strong>Total users</strong>
            <div>{{ users }}</div>
        </article>
        <article>
            <strong>Total premium users</strong>
            <div>{{ premium_users }}</div>
        </article>
        <article>
            <strong>Monthly revenue</strong>
            <div>${{ monthly_revenue|floatformat:2 }}</div>
        </article>

        <article>
            <strong>Total posts</strong>
            <div>{{ posts }}</div>
        </article>
        <article>
            <strong>Total published posts</strong>
            <div>{{ published_posts }}</div>
        </article>
        <article>
            <strong>Total pages</strong>
            <div>{{ pages }}</div>
        </article>

        <article style="grid-column: 1/3;">
            <strong>Number of users with zero posts on their blog</strong>
            <div>{{ zero_users }}</div>
        </article>

        <article style="grid-column: 1/3;">
            <strong>Number of users with at least one post on their blog</strong>
            <div>{{ non_zero_users }}</div>
        </article>

        <article style="grid-column: 1/3;">
            <strong>Number of users who have edited at least one post in the last month</strong>
            <div>{{ active_users }}</div>
        </article>
        <article style="grid-column: 1/4;">
            <strong>
                Number of users who have edited at least one post in the last
                month and signed up at least a month ago
            </strong>
            <div>{{ active_nonnew_users }}</div>
        </article>
    </section>


    <hr>
    <section>
        <strong>Service Maintainance Costs</strong>
        <ul>
            <li>Server €4.19/mo</li>
            <li>Off-site backups €7.00/mo</li>
            <li>DNS €0.50/mo</li>
            <li>Domain name €2.00/mo</li>
            <li>Programmer €0.00/mo</li>
        </ul>
        <strong>Subscription Revenue</strong>
        <ul>
            <li>Monthly revenue ${{ monthly_revenue|floatformat:2 }}/mo</li>
            <li>
                Revenue used to
                <a href="https://climate.stripe.com/QPSBFx">fund CO<sub>2</sub> removal</a>
                ${{ revenue_co2|floatformat:2 }}/mo
            </li>
        </ul>
    </section>

</main>

{% include 'partials/footer.html' %}

{% endblock %}
