{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Sign up to start your blog</h1>

    <p>
        Registrations were closed until recently because of people and robots
        who signed up and posted content that significantly deteriorates
        the experience of the web for their fellow web citizens.
    </p>

    <p>
        Now, we screen blog authors manually and blogs that aim at taking
        advantage of other people will be purged immediately and without any
        notice.
    </p>

    <p>
        To sign up, we ask that one reads the circumstances of our registration
        closing era and promises that they will not contribute to the
        degradation of the open web but rather to its humane growth and
        enrichment.
    </p>
    <p>
        The circumstances are outlined in this blog post:
        <a href="https://hey.mataroa.blog/blog/closing-registrations/">
            https://hey.mataroa.blog/blog/closing-registrations/
        </a>
    </p>

    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_problems">
                Do you understand the problems outlined in the blog post?
            </label>
            {% if form.problems.errors %}
                {% for error in form.problems.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.problems }}
        </p>

        <p>
            <label for="id_quality">
                Do you plan to publish blog posts that deteriorate the quality
                of the web?
            </label>
            {% if form.quality.errors %}
                {% for error in form.quality.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.quality }}
        </p>

        <p>
            <label for="id_sunflower">
                I am not a robot:
            </label>
            {% if form.sunflower.errors %}
                {% for error in form.sunflower.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.sunflower }}
        </p>

        {% csrf_token %}

        <input type="submit" value="Sign up">
    </form>

    <p>
        Read our <a href="{% url 'operandi' %}">Modus Operandi</a>
        for details on how we operate and how we protect our users’ privacy.
    </p>
</main>
{% endblock %}
