{% extends 'main/layout.html' %}

{% block title %}{{ user.username }} at Mataroa{% endblock %}

{% block content %}
<main class="user">
    <h1 class="main-title">
        {{ user.username }}
    </h1>
    <div class="main-body">
        <a href="{% url 'user_update' user.id %}">Update profile</a>
        | <a href="{% url 'password_change' %}">Change password</a>
        | <a href="{% url 'logout' %}">Logout</a>

        <br>
        <br><a href="{% url 'user_delete' user.id %}">Delete account</a>
    </div>
</main>
{% endblock %}
