{% extends 'main/layout.html' %}

{% block title %}Expel {{ user.username }} — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Expel {{ user.username }} for sure?</h1>

    <ol>
        {% for post in user.post_set.all %}
        <li>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </li>
        {% empty %}
        <li><em>(empty)</em></li>
        {% endfor %}
    </ol>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="I understand the danger, expel this user!" class="type-danger">
    </form>

    <hr style="margin: 64px 0;">
    {% for post in user.post_set.all %}
    <article>
        <b># {{ forloop.counter }}. {{ post.title }}</b>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
</main>
{% endblock %}
