{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Sign up to start your blog</h1>

    <strong>
        Registrations are currently closed.
    </strong>

    <p>
        We had to close registrations while we develop a system to tackle spam
        accounts.
    </p>

    <p>
        If you are a real person and interested in signing up, please email
        <a href="mailto:admin@mataroa.blog">admin@mataroa.blog</a>.
    </p>
</main>
{% endblock %}
