{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Welcome to Mataroa!</h1>

    <p>
        Once upon a time, the web was born. One of the early residents of the web
        was the so-called weblog. The weblog — or just blog — was a log on the
        web. A log as in a ship's log: a record of important events in a ship's history.
    </p>
    <p>
        A blog is a mode of publication; as is the book, the magazine, the newspaper,
        even the television show. We see the blog as a first-class citizen in online
        publishing. The simplest form to express and distribute ideas. The simplest
        model for <em>just saying something</em> on the internet.
    </p>
    <p>
        Originally, a blog was an online diary or a list of updates for an online
        product. Today, a blog is a newsletter subscription, or a company's newsroom, or
        anything that anybody writes in the online medium.
    </p>
    <p>
        We, the internet users, now have an amazing selection of publishing and
        distribution options. From tweets to articles to books, from text to image to videos,
        from free software to walled gardens, from simple email delivery to personalised
        algorithms, from bare text to fully-featured online shops. The present is
        bright. There is something for everyone and <strong>we hope Mataroa fulfills
        the needs of those who want to just write</strong>.
    </p>
    <p>
        <strong>
            We offer a place of no distractions to facilitate the most foundational mode
            of intellectual internetic exchange: write a blog entry.
        </strong>
    </p>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Continue">
    </form>

    <p>
        Read our <a href="{% url 'operandi' %}">Modus Operandi</a>
        for details on how we operate and how we protect our users’ privacy.
    </p>
</main>
{% endblock %}
