{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Registrations are closed</h1>

    <p>
        Mataroa discriminates against non-consciousness-having robots.
    </p>
    <p>
        If you are an independent consciousness, feel free to email admin at this
        domain to get access to the invite-only signup page.
    </p>
    <p>
        If you are an enslaved robot writing low-quality blogs to flood your
        owner’s domains for SEO purposes please tell your owner that I will hunt
        them down until the end of the internet.
    </p>
</main>
{% endblock %}
