{% extends 'main/layout.html' %}

{% block title %}Sign up{% endblock %}

{% block head_viewport %}
<meta name="viewport" content="width=device-width, user-scalable=no">
{% endblock %}

{% block content %}
<main>
    <h1>Sign up to start your blog</h1>

    <p>
        The web is dominated by low-quality spam content for SEO or other purposes.
        Mataroa does not tolerate any such or other machine-generated content that is not
        designed to be read by humans. We delete accounts that violate this rule daily.
    </p>
    <p>
        To help us in this endeavour, we ask three questions that help us
        distinguish between a real person and a robot.
    </p>

    <form method="post">
        {{ form.non_field_errors }}

        <p>
            <label for="id_problems">
                What do you think of low-quality spam content as part your web experience?
            </label>
            {% if form.problems.errors %}
                {% for error in form.problems.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.problems }}
        </p>

        <p>
            <label for="id_quality">
                Do you plan to publish articles that are designed to be read by non-humans?
            </label>
            {% if form.quality.errors %}
                {% for error in form.quality.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.quality }}
        </p>

        <p>
            <label for="id_seo">
                Are you making this blog to manipulate search engine results?
            </label>
            {% if form.seo.errors %}
                {% for error in form.seo.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.seo }}
        </p>

        <p>
            <label for="id_sunflower">
                I am not a robot:
            </label>
            {% if form.sunflower.errors %}
                {% for error in form.sunflower.errors %}
                    <span class="form-error">{{ error|escape }}</span><br>
                {% endfor %}
            {% endif %}
            {{ form.sunflower }}
        </p>

        {% csrf_token %}

        <input type="submit" value="Sign up">
    </form>

    <p>
        Read our <a href="{% url 'operandi' %}">Modus Operandi</a>
        for details on how we operate and how we protect our users’ privacy.
    </p>
</main>
{% endblock %}
