{% extends 'main/layout.html' %}

{% block title %}Webring integration — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Webring integration</h1>
    <p>
        A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a list of
        website links in a cicular structure, with a common theme.
    </p>
    <p>
        Below, one can define a name for one’s webring as well as (optionally)
        an informational URL for the webring. The last two fields are the previous
        and next websites in the webring.
    </p>
    <p>
        All of these will appear in the footer of one’s blog across all pages.
    </p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
</main>
{% endblock %}
