{% extends 'main/layout.html' %}

{% block title %}Webring Integration — Mataroa{% endblock %}

{% block content %}
<main>
    <h1>Webring Integration</h1>

    <p>
        A <a href="https://en.wikipedia.org/wiki/Webring">webring</a> is a
        circular list of website links with a common theme.
    </p>
    <p>
        On Mataroa, one can add three links on their blog that will appear
        at the bottom of every post/page.
    </p>
    <p>
        These links are:
    </p>
    <ol>
        <li>the previous website in the circular list</li>
        <li>the next website in the circular list</li>
        <li>an informational website about the webring</li>
    </ol>

    {% if request.user.is_authenticated %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>
    {% endif %}
</main>
{% endblock %}
