{
	on_demand_tls {
		ask https://{{ domain }}/accounts/domain/
	}
}

*.{{ domain }}, {{ domain }} {
	route {
		file_server /static/* {
			root /var/www/mataroa
		}
		reverse_proxy 127.0.0.1:5000
	}

	tls /etc/caddy/mataroa-blog-cert.pem /etc/caddy/mataroa-blog-key.pem

	encode zstd gzip
}

:443 {
	route {
		file_server /static/* {
			root /var/www/mataroa
		}
		reverse_proxy 127.0.0.1:5000
	}

	tls {{ email }} {
		on_demand
	}

	encode zstd gzip
}
