[Unit]
Description=Process mataroa notifications

[Service]
Type=oneshot
User=deploy
WorkingDirectory=/var/www/mataroa
EnvironmentFile=/etc/systemd/system/mataroa.env
ExecStart=/home/deploy/.local/bin/uv run manage.py processnotifications --no-dryrun

[Install]
WantedBy=multi-user.target
