[Unit]
Description=Send mataroa daily moderation summary

[Service]
Type=oneshot
User=deploy
WorkingDirectory=/var/www/mataroa
EnvironmentFile=/etc/systemd/system/mataroa.env
ExecStart=/home/deploy/.local/bin/uv run manage.py mailsummary

[Install]
WantedBy=multi-user.target
