[Unit]
Description=mataroa
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/mataroa
ExecStart=/var/www/mataroa/.venv/bin/gunicorn -b 127.0.0.1:5000 -w 4 --access-logfile - mataroa.wsgi
ExecReload=/bin/kill -HUP $MAINPID
Environment="DOMAIN={{ domain }}"
Environment="EMAIL={{ email }}"
Environment="DEBUG={{ debug }}"
Environment="LOCALDEV={{ localdev }}"
Environment="SECRET_KEY={{ secret_key }}"
Environment="DATABASE_URL={{ database_url }}"
Environment="EMAIL_HOST_USER={{ email_host_user }}"
Environment="EMAIL_HOST_PASSWORD={{ email_host_password }}"
Environment="EMAIL_TEST_RECEIVE_LIST={{ email_test_receive_list }}"
Environment="STRIPE_API_KEY={{ stripe_api_key }}"
Environment="STRIPE_PUBLIC_KEY={{ stripe_public_key }}"
Environment="STRIPE_PRICE_ID={{ stripe_price_id }}"
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
