[Unit]
Description=mataroa
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/mataroa
ExecStart=/home/deploy/.local/bin/uv run gunicorn -b 127.0.0.1:5000 -w 4 --access-logfile - mataroa.wsgi
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=/etc/systemd/system/mataroa.env
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
