[Unit]
Description=mataroa
After=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/mataroa
ExecStart=/var/www/mataroa/.venv/bin/gunicorn -b 127.0.0.1:5001 -w 4 mataroa.wsgi
ExecReload=/bin/kill -HUP $MAINPID
Environment="DEBUG={{ debug }}"
Environment="SECRET_KEY={{ secret_key }}"
Environment="EMAIL_HOST_USER={{ email_host_user }}"
Environment="EMAIL_HOST_PASSWORD={{ email_host_password }}"
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
