<section class="webring">
    {% if blog_user.webring_prev_url %}
    <a href="{{ blog_user.webring_prev_url }}">← Previous</a>
    {% endif %}
    <div>
        {% if blog_user.webring_url %}
        ○
        <a href="{{ blog_user.webring_url }}" class="webring-name">
            {{ blog_user.webring_name|default_if_none:'Webring' }}
        </a>
        {% else %}
        {{ blog_user.webring_name|default_if_none:'' }}
        {% endif %}
    </div>
    {% if blog_user.webring_next_url %}
    <a href="{{ blog_user.webring_next_url }}">Next →</a>
    {% endif %}
</section>

<footer>
    ---
    <br>
    {% if request.subdomain %}
    <a href="{% url 'index' %}">Blog</a>.
    {% else %}
    <a href="//{{ request.user.username }}.{{ request.get_host }}">Blog</a>
    {% endif %}
    <a href="{% url 'rss_feed' %}">RSS</a>.
    {% for page in pages %}
    <a href="{% url 'page_detail' page.slug %}">{{ page.title }}</a>.
    {% endfor %}
    {% if blog_user.footer_note %}
    <br>{{ blog_user.footer_note_as_html|safe }}
    {% endif %}
</footer>
