<a href="{{ user.blog_absolute_url }}" target="_blank" rel="noopener">{{ user.username }}</a>
/ <span style="color: #999">{{ user.email|default:"(no email)" }}</span>
/ <a href="{% url 'admin:main_user_change' user.id %}">
    <small>{{ user.date_joined }}</small>
</a>
{% if user.is_premium %}
{% if user.monero_address %}
/ <small>XMR: {{ user.monero_address|truncatechars:7 }}</small>
{% else %}
/ <small>
    <a href="https://dashboard.stripe.com/customers/{{ user.stripe_customer_id }}">
        {{ user.stripe_customer_id }}
    </a>
</small>
{% endif %}
{% endif %}
/ <a href="{% url 'mod_expel' user.id %}" class="type-delete">expel</a>
