<ul>
    <li><a href="{% url 'mod_users_premium' %}">Users Premium</a></li>
    <li><a href="{% url 'mod_users_new' %}">Users New</a></li>
    <li><a href="{% url 'mod_users_new_with_posts' %}">Users New with Posts</a></li>
    <li><a href="{% url 'mod_users_grandfather' %}">Users Grandfather</a></li>
    <li><a href="{% url 'mod_users_staff' %}">Users Staff</a></li>
    <li><a href="{% url 'mod_users_active' %}">Users Active</a></li>
    <li><a href="{% url 'mod_users_active_with_posts' %}">Users Active with Posts</a></li>
    <li><a href="{% url 'mod_users_active_nonnew' %}">Users Active Nonnew</a></li>
    <li><a href="{% url 'mod_users_active_nonnew_with_posts' %}">Users Active Nonnew with Posts</a></li>
    <li><a href="{% url 'mod_users_random_with_posts' %}">Users Random with Posts</a></li>
    <li><a href="{% url 'mod_posts_new' %}">Posts New</a></li>
    <li><a href="{% url 'mod_posts_recently' %}">Posts Recently Edited</a></li>
    <li><a href="{% url 'mod_pages_new' %}">Pages New</a></li>
    <li><a href="{% url 'mod_pages_recently' %}">Pages Recently Edited</a></li>
    <li><a href="{% url 'mod_comments' %}">Comments</a></li>
</ul>
