name: Django Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py collectstatic --noinput
        DEBUG=1 python manage.py test
      env:
        SECRET_KEY: 'thisisthesecretkey'
        DATABASE_URL: 'postgres://postgres:postgres@localhost:5432/postgres'
    - name: Lint
      run: |
        touch .envrc
        pip install -r requirements.dev.txt
        pip install -r requirements.txt
        make lint
